# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.test
*.out
/bin/
/dist/

# Android
*.iml
.gradle/
local.properties
/clients/android/build/
/clients/android/**/build/
*.apk
*.aab

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.ipa

# Editors
.idea/
.vscode/
